
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.Traffic-light{
    background: black;
    padding: 10px;
    margin: 0 auto;
    width: 120px;
}
.light{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 5px;
}
.red{
    background: red;
}
.yellow{
    background: yellow;
}
.green{
    background: green;
}
.glow{
    box-shadow: 0px 0px 9px 4px #747DE8;
}
.hanger{
    background: black;
    width: 10px;
    height: 40px;
    margin: 0 auto;
}
.Traffic-light-centered{
    margin: 0 auto;
}